/** GAME **/
.endGame {
    display: none;
    position: fixed;
    width: 80%;
    height: auto;
    background: $white;
    border: 2px solid green;
    z-index: 10;
    padding: 10px 18px;
    margin: 50px 0 0 0;
    align-self: center;
}

.endGame.show {
    display: block;
}

@media (min-width: 600px){
    .endGame {
        width: 450px;
        height: 200px;
        margin: -100px -250px 0 0;
        left: 50%;
        top: 50%;
    }
}

/** END GAME **/