/** FORMAT **/
.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // .description {
    //     flex: 1 0 53%;
    // }
    // &.end{
    //     justify-content: flex-end;
    // }
    &.radio {
        align-items: baseline;
        justify-content: baseline;
        label {
            flex: 1 1 80%;
            font-size: 19px;
        }
        input[type="radio"]{
            width: 32px;
        }
    }
    .tiny{
        flex: 1 1 80%;
    }
    .define{
        flex: 0 1 20%;
    }
    @media(min-width: 600px) {
        .tiny {
            flex: 0 0 10%;
        }
        .define {
            flex: none;
        }

    }
}

.listing {
    margin-top: 17px;
    text-align: center;
    li {
        padding: 5px 0;
    }
    a {
        font-size: 20px;
    }

    @media (min-width: 600px){
        a {
            font-size: 18px;
        }
    }
}

@media(min-width: 600px){
    margin-top: 0;
}